.quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  h2 {
    margin-bottom: 20px;
  }
}

.quiz-list {
  list-style: none;
  padding: 0;
  width: 100%;
  max-width: 600px;

  .quiz-item {
    margin: 10px 0;
    transition: transform 0.2s;
    border-radius: 10px;
    overflow: hidden;

    &:hover {
      transform: scale(1.02);
    }

    .quiz-link {
      display: block;
      text-decoration: none;
      color: inherit;
      background-color: #f0f0f5;
      border: 1px solid #ddd;
      padding: 15px;
      border-radius: 10px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      transition: background-color 0.3s;

      &:hover {
        background-color: #e0e0eb;
      }

      .quiz-content {
        h3 {
          margin: 0 0 5px;
        }

        p {
          margin: 0;
        }
      }
    }
  }
}

.no-quizzes {
  margin-top: 20px;
  font-size: 1.2em;
  color: #666;
}

.header {
  margin-bottom: 40px;
  text-align: center;

  h2 {
    font-size: 3em; // Taille similaire à celle de l'exemple
    color: #2980b9; // Couleur bleue similaire
    margin-bottom: 10px;
  }

  p {
    font-size: 1.5em;
    color: #34495e;
    margin-bottom: 20px;
  }
}
