<div class="register-container">
  <div class="register-card">
    <h2 class="register-title">Inscription</h2>
    <form class="register-form">
      <label for="username">Nom d'utilisateur</label>
      <input type="text" id="username" name="username" required>

      <label for="email">Email</label>
      <input type="email" id="email" name="email" required>

      <label for="password">Mot de passe</label>
      <input type="password" id="password" name="password" required>

      <button type="submit" class="register-button">S'inscrire</button>
    </form>
    <p class="login-redirect">
      Déjà un compte ? <a href="/connexion">Connecte-toi ici</a>
    </p>
    <p class="login-redirect">
      <a href="">Retour</a>
    </p>

  </div>
</div>
